.ct {
   /* Headings */
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-weight: bold;
      margin-bottom: 0.9rem;
   }

   h1 {
      font-size: 3em;
   }

   h2 {
      font-size: 2em;
      margin-top: 1rem;
   }

   h3 {
      font-size: 1.8em;
   }

   h4 {
      font-size: 1.5em;
   }

   h5 {
      font-size: 1.2em;
   }

   h6 {
      font-size: 1em;
   }

   /* Listas */
   ul,
   ol {
      padding-left: 1.6rem;
   }

   ul {
      list-style-type: disc;
   }

   ol {
      list-style-type: decimal;
   }

   hr {
      margin-block: 1rem;
   }

   /* hiperlinks */
   a {
      text-decoration: underline;
      color: var(--color-theme2);
      cursor: pointer;
      font-weight: 600;
   }

   /* Blockquote */
   blockquote {
      padding-left: 1rem;
      padding-block: 0.6rem;
      border-left: 4px solid var(--color-theme2);
      margin-block: 1rem;
      background-color: rgb(243, 243, 243);
   }
}
